@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
.verdeC{
    background-color: #C0D8C0;
}
.whiteC{
    background-color:#ffffff;
}
.redC{
    background-color: #DD4A48;
}
.beigeC{
    background-color:#ECB390;
}
.logoHead{
    content: url(../src/logo.png);
    height: fit-content;
    width: fit-content;
}
.backgroundC{
    background-color: white;
    opacity: 0.9;
}
.bebasFont{
    font-family: 'Bebas Neue', cursive;
}
h3{
    font-family: 'Bebas Neue', cursive;
}
p{
    font-family: 'Bebas Neue', cursive;
}

.logo{
    content: url(../src/logo.gif);
}
.nav-item:hover{
    background-color: #C0D8C0;
}
.btn:hover{
    background-color: #C0D8C0;
}
.containerFotoIndexReforma{
    height: 30%;
    width: 100%;
    content: url(../src/reformas.jpg);
}
.containerFotoIndexDiseño{
    height: 30%;
    width: 100%;
    content: url(../src/diseño.jpg);
}
.containerFotoIndexMantenimiento{
    height: 30%;
    width: 100%;
    content: url(../src/mantenimiento.jpg);
}
.widthForm{
    width: 100%;
   
}

input[type=submit] {
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}